@import url('https://fonts.googleapis.com/css?family=Tangerine');
@import url('https://fonts.googleapis.com/css?family=Happy%20Monkey');
@import url('https://fonts.googleapis.com/css?family=Averia%20Serif%20Libre');
@import url('https://fonts.googleapis.com/css?family=Lily%20Script%20One');

html{
height: 100%;
padding: 0;
margin: 0;
scrolling: no;
}
body{
/*overflow: hidden; /*hide scrolling*/
scrolling: no;
height: 100%;
width: 100%;
padding: 0;
margin: 0;
background-image:url('background.png');
}
div.horiz{
float: left;
height: 13%;
width: 100%;
}
  table#inputs{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  padding: 2px;
  position: relative;
  background-color: #FFFFFF:
  opacity: 0.4;
  filter:alpha(opacity:80);
  }

  #room, #vid{
  width:100%;
  opacity:0.8;
  filter:alpha(opacity:80);
  background-color: #000000;
  border-width: 1px;
  border-color: #FF0000;
  border-radius: 2px;
  font-size: 1.3em;
  font-family: "Happy Monkey", Georgia, Serif;
  font-weight: bold;
  text-shadow: 0 0 0.15em #4F0C3A;
  text-align: justify;
  color: #EBD026;
  vertical-align: middle;
  }

div.container{
clear: none; 
height: 85%;
width: 100%;
}

div.youtube, #ytapiplayer, #myytplayer{
float: left;
width: 80%;
height: 90%;
margin: 0 auto;
padding-left: 0 1%;
}

div.cams{
float: right;
width: 20%;
height: 100%;
border-width: 5px;
border-color: #001200;
border-radius: 1px;
font-size: 4em;
font-family: Happy Monkey;
font-weight: bold;
text-shadow: 0 0 0.15em #000000;
text-align: center;
color: #FFFFFF;
vertical-align: middle;
/*line-height: 100%;*/
}
  div.cam{
  margin: 0 auto;
  padding: 1%;
  position: relative;
  width: 100%;
  height: 50%;
  position: relative;
  }
  #cam1{
  width: 10px;
  height: 75px;
  position: relative;
  top: 0; left: 0;
  }
  #cam2{
  width: 200px;
  height: 150px;
  position: relative;
  top: 0;
  left: 0;
  }
  div chatbox{  
  width: 80%;
  height: 300px;
  margin: 0 auto;
  padding: 1px;
  position: relative;
  border: 3px solid;
  border-width: 5px;
  border-color: #8C0A0A;  
  background-color: #8C0A0A;

  }


  div.chat{

  height: 280px;
  }
  #message{
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  position: relative;
  }
  
/*Non divs*/
a {
text-decoration:none;
color: #08520E;
}
a:hover {
text-decoration: underlie overlie;
border-bottom: 3px dotted;
border-top: 3px dotted;
font-style:bold;
color: #520852;
}
a.visited{
color: #C56BE3;
text-decoration:line-through;
}
a.nodec{
text-decoration:none;
}
/*Text*/
#create, #join, #choose, #upload{
border: 0;
padding: 0;
background: url('popcorn.png') no-repeat;
height: 80px;
width: 60px;
font-style: bold;
font-family: 'Lily Script One', Georgia, Serif; 
font-size: 1em;
text-shadow: 0 0 0.2em #FFF, 0 0 0.2em #FFF,
        0 0 0.2em #FFF
}

p{
font-size: 12px;
font-family: Arial, serif;
text-align: left;
}
h1{
font-size:1em;
font-family: Happy Monkey;
margin-bottom:0px;
margin-top: 0px;
color: #FFFFFF
}
p#intro{
padding: 5% 10% 5% 10%;
text-align: justify;
font-size: 2em;
font-family: 'Happy Monkey', Arial, Serif;
color: #FFFFFF;
}

/*Other*/
img{
border-width: 5px;
border-color: #001200;
margin: 7px;
border-radius: 20px; /*rounded edges*/
cursor:pointer;
}

#chat {
  margin-top: 5px;
  text-align: left;
  overflow-y: auto;
  display: none
}
#chat ul {
  list-style-type: none;
  text-align: left;
}
#chat ul li {
  font-size: 10px;
  padding-bottom: 3px;
}
.name {
  padding-right: 1px;
  font-size: 12px;
}
.time {
  padding-right: 1px;
  font-size: 10px;
}
.msg {
  font-size: 12px;
}
.self .name{
  color: green;
}
button {
  pointer: cursor;
}